.abanner{
    width: auto;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 30px 100px 30px 100px;
    border-radius: 25px;

    @media (max-width: 820px) {
        width: auto;
        height: 170px;
        margin: 30px;
        border-radius: 10px;
    }

    &_img{
        width: 100%;
        height: auto;
        filter: brightness(70%);
        @media (max-width: 820px) {
            width: 100%;
            height: auto;
            object-fit: cover;
            position: relative;
        }
    }
}