.card_container{
    width: auto;
    height: auto;
    margin: 30px 100px 30px 100px;
    padding: 50px;
    background-color: $container-color;
    border-radius: 25px;
    @include flex-row-space-between;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    height: 240px;
    padding: 15px;
    border-radius: 10px;
    background: $card-color;
    display: flex;
    align-items: flex-end;
    &_title{
        width: 35%;
        color: $text-color;
        font-family: "Monsterrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
}