.card_container{
    width: auto;
    height: auto;
    margin: 30px 100px 30px 100px;
    padding: 40px;
    background-color: $container-color;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;

}

.card{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background: $card-color;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    &_img{
        width: 110%;
        height: 100%;
        filter: brightness(0.8);
        object-fit: cover;
        position: relative;

    }
    &_title{
        width: 80%;
        margin: 0 0 10px 10px;
        color: $text-color;
        font-family: "Monsterrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        position: absolute;

    }
}