@mixin center{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column-space-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column-space-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@mixin flex-row-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}