/*-------------- colors --------------*/

$primary-color: #FF6060;

$text-color: #FFFFFF;

$container-color: #F7F7F7;

$card-color: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(255,96,96,1) 0%, rgba(255,96,96,1) 59%, rgba(155,59,59,1) 100%);